[general]
state_file = /var/lib/awslogs/agent-state
use_gzip_http_content_encoding = true

{% for log_stream in log_streams%}
[{{ log_stream.log_group_name }}-{{ log_stream.file_name.split('.')[0] }}]
datetime_format = {{ log_stream.date_format }}
file = {{ log_stream.file_dir }}/{{ log_stream.file_name }}
buffer_duration = 5000
{% if use_time_prefix %}
log_stream_name = {{ ansible_date_time.date }}-{{ log_stream.log_stream_name }}-{{ log_stream.file_name.split('.')[0] }}
{% else %}
log_stream_name = {{ log_stream.log_stream_name }}-{{ log_stream.file_name.split('.')[0] }}
{% endif %}
initial_position = {{ initial_start }}
log_group_name = {{ log_stream.log_group_name }}
time_zone = {{ timezone }}
file_fingerprint_lines: {{ file_fingerprint_lines }}

{% endfor %}
